@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as *;

.ui-icon {
  &--16 {
    width: to-rem(16);
    height: to-rem(16);
  }

  &--20 {
    width: to-rem(20);
    height: to-rem(20);
  }

  &--24 {
    width: to-rem(24);
    height: to-rem(24);
  }

  &--32 {
    width: to-rem(32);
    height: to-rem(32);
  }
}
